.container{
    display:flex;
    padding:20px;
    margin:20px;
    text-align: flex-start;gap:30px;    
}
.card {
    flex: 1; 
    margin: 10px; 
    text-align: center; 
    padding: 30px; 
}
.card h3 {
    margin: 18px 0; 
    color:#1d2b53;
    font-size:25px;
}
.card p {
    margin: 10px 0; 
    color: gray; 
    font-size: large;
    text-align: start;
}
.card button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1d2b53; 
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 128, 0, 0.2); 
  border-radius: 50%;
  transition: opacity 0.3s ease;
  z-index: -1; 
}
.exploreButton{
     font-size: 15px;
     font-weight:bold;
    padding: 18px 23px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
}

.exploreButton:hover::before {
  opacity: 0;
}
.exploreButton:hover{
    background-color: #00c896;
    color:white;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #c1d9d1; 
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1; 
}
.arrow {
  padding-left: 5px;
  font-weight: 900;
  font-size: 18px;
}